{%- from "bootstrap/wtf.html" import form_errors -%}
{%- from "bootstrap/wtf.html" import form_field -%}
{%- from "bootstrap/utils.html" import flashed_messages -%}
{%- from "snippets.html" import navbar with context -%}

{%- extends "bootstrap/base.html" -%}
{%- block title -%}{{ title }}{%- endblock -%}

{%- block styles -%}
  {{ super() }}
  <link href="{{ url_for('static', filename = 'libs/font-awesome/4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{{ url_for('static', filename = 'libs/css-toggle-switch/4.0.2/dist/toggle-switch.css') }}" rel="stylesheet">
{%- endblock -%}

{%- block navbar -%}
  {{ navbar() }}
{%- endblock -%}

{%- macro set_autofocus(field, autofocus = False) -%}
  {%- if autofocus -%}
    {{ form_field(field, autofocus = True)}}
  {%- else -%}
    {{ form_field(field)}}
  {%- endif -%}
{%- endmacro -%}

{%- macro my_form_field(field, autofocus = False) -%}
  {%- if field.type in ["RadioField"] -%}
    <div class="form-group">
      {{ field.label }}
      {{ set_autofocus(field, autofocus) }}
    </div>
  {%- elif field.type in ["BooleanField", "BooleanFieldWithChoices"] -%}
    <label class="switch-light" onclick="">
      {%- if autofocus -%}
        {{ field(autofocus = True)}}
      {%- else -%}
        {{ field()}}
      {%- endif -%}
      <strong>{{ field.label.text }}</strong>
      <span class="well">
        {%- if field.type in ["BooleanFieldWithChoices"] and field.choices -%}
          {%- for choice in field.choices -%}
            <span>{{ choice[1] }}</span>
          {%- endfor -%}
        {%- else -%}
          <span>No</span>
          <span>Yes</span>
        {%- endif -%}
        <a class="btn btn-primary"></a>
      </span>
    </label>
  {%- elif field.type in ["QRField"] -%}
    <div class="form-group">
      {{ field.label }}
      <div class="input-group">
        {%- if autofocus -%}
          {{ field(class_ = "form-control", autofocus = True) }}
        {%- else -%}
          {{ field() }}
        {%- endif -%}
        <div class="input-group-addon qrcode"><i class="fa fa-qrcode"></i></div>
      </div>
    </div>
  {%- else -%}
    {{ set_autofocus(field, autofocus) }}
  {%- endif -%}
{%- endmacro -%}

{%- block content -%}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ title }}</h1>
        <form id="{{ form.name }}" class="form" method="post" role="form">
          {{ form.hidden_tag() }}
          {{ form_errors(form) }}
          {{ flashed_messages(container = False) }}
          {%- for field in form if field.type not in ["HiddenField", "CSRFTokenField"] -%}
            {{ my_form_field(field, autofocus = (not loop.index0)) }}
          {%- endfor -%}
          <button type="submit" class="btn btn-primary">{{ btnSubmit }}</button>
        </form>
      </div>
    </div>
  </div>
{%- endblock -%}

{%- if with_qr -%}
  {%- block scripts -%}
    {{ super() }}
    <script src="{{ url_for('static', filename = 'libs/html5-qrcode/lib/jsqrcode-combined.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'libs/html5-qrcode/lib/html5-qrcode.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/assessment.js') }}"></script>
  {%- endblock -%}
{%- endif -%}